{% trans_default_domain 'FOSUserBundle' %}

<div class="col-sm-6 col-sm-offset-3">
    <h2><strong>{{ 'profile.show.username'|trans }}</strong>: {{ user.username }}</h2>
    <h2><strong>{{ 'profile.show.email'|trans }}</strong>: {{ user.email }}</h2>
</div>
