{% extends "GRGameficatorBundle::layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success-head widget-todo">
            <div class="panel-heading">
                <div class="pull-right">
                    <a title="" data-toggle="tooltip" class="tooltips" id="addnewtodo" href="{{ path('gr_gameficator_createtask') }}" data-original-title="Add New"><i class="glyphicon glyphicon-plus"></i></a>
                </div><!-- panel-btns -->
                <h3 class="panel-title">Tâches</h3>
            </div>
            <ul class="panel-body list-group nopadding">
              {% for task in listTasks %}
                <li class="list-group-item">
                      <div class="ckbox ckbox-default">
                          <input type="checkbox" id="{{ task.id }}" value="1">
                          <label for="{{ task.id }}">{{ task.name }}<span class="label label-warning"></span></label>
                      </div>
                </li>
                {% else %}
                <li class="list-group-item">
                    <label>Aucune tâche</label>
                </li>
                {% endfor %}


            </ul>
        </div>
    </div><!-- col-md-4 -->

</div><!-- row -->
{% endblock %}
